.cards > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 16px;
}

.cards > ul > li {
    border: 0;
}

.cards .cards-card-body {
    margin: 0;
}

.cards .cards-card-image {
    line-height: 0;
}

.cards .cards-card-body > *:first-child {
    margin-top: 0;
}

.cards > ul > li img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}

.cards.locations > ul > li h3 {
    margin: 0 0 10px;
    color: rgb(51 51 51);
    font-weight: 400;
    font-style: normal;
    font-size: var(--heading-font-size-m);
    letter-spacing: -0.015em;
    text-decoration: none;
}

.cards.locations > ul > li p {
    font-size: var(--heading-font-size-xs);
    margin: 0;
}

.cards.locations > ul > li p.button-container {
    margin: 10px 0 0;
    font-weight: 400;
}

.cards.locations > ul > li a.button {
    color: var(--cta-background-color);
    background-color: unset;
    font-size: var(--heading-font-size-xs);
    padding: 0;
    margin: 0;
}

.cards.locations > ul > li a.button::after {
    content: ">";
    margin-left: 0.25rem;
}
